---
import App from "../App";
import "../styles.css";
import "../redesign.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Password Maker</title>
  </head>
  <body>
    <App client:only="react" />
  </body>
</html>
